@import "https://fonts.googleapis.com/css?family=Lily+Script+One";

:root {
  --gray: #1b1c1e;
  --gray-two: #25282c;
  --gray-three: #3f3f3f;
  --lilac: #a082a0;
  --lilac-two: #856a85;
  --creamy-white: #d1d3dc;
  --black: black;
  --rose-quartz: #ffc0cb;
}

* {
  color: inherit;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}
