body {
  background-color: var(--gray);
  color: var(--creamy-white);
  min-height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  font-family: "Lily Script One";
  text-shadow: 0 5px 10px var(--lilac-two);
  font-size: 3rem;
}

main {
  padding: 1em;
}

.nav {
  width: min(40ch, 100vw - 1rem);
  height: min(40ch, 60vh);
  margin: auto;
  border-radius: 20%;
  background-color: var(--lilac);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  transition: all 0.9s ease-in-out;
  color: var(--gray);
  box-shadow: 0 0 10px 10px var(--lilac-two);
}

.nav-item {
  display: block;
  font-size: 1.7rem;
  transition: transform 0.6s ease-in-out;
  padding: 1em;
  text-transform: uppercase;
}

.nav-item:hover {
  transform: scale(1.2);
  background-color: var(--rose-quartz);
  border-radius: 50%;
}

nav:hover {
  background-color: var(--lilac-two);
  box-shadow: 0 0 10px 10px var(--lilac);
  transform: scale(1.1);
}
